h1 {
    text-align: center;
}

#cart {
    display: flex;
    justify-content: space-between;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align:center;
}

.column {
    width: 14%;
    padding: 25px 0px;
    border-left: 5px solid;
}

.videoLink{
    cursor:pointer;
}

#heading{
    width:100%;
    display:flex;
    justify-content: space-between;
    border-top: 5px solid black;
}

.arrow{
    width: 25px;
    height: 25px;
}

.headhead{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 14%;
    padding: 25px 0px;
    border-left: 5px solid;
}

.imageTag{
    width:auto;
    height:auto;
}

#deleteColumn div{
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}

#songs p {
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    font-family: 'Merriweather', serif;
}

#artists p {
    font-size: 18px;
    height: 100px;
    margin: 20px;
    font-family: 'Lato', sans-serif;
}

#lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
    text-align: right;
    font-family: 'Raleway', sans-serif;
}

#links a {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    font-family: 'Coiny', cursive;
}

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}